*{
    box-sizing:border-box
  }
  
  html{
      font-size: 16x
    }
  
  div[id=bannerContainer]{
      font-family: helvetica;
      font-variant: small-caps;
      font-size: 3rem;
      text-shadow: 0.1em 0.1em 0.3em black;
    }
  
    div[id=salesTeamContainer]{
      font-family: helvetica;
        font-variant: small-caps;
        font-size: 0.8rem;
        font-weight:bolder;
        text-shadow: 0.3em 0.3em 0.3em black;
        text-align: right;
    }
    