body{
  font-size: 16x;
  background: linear-gradient(to right, white, grey, olive); 
}
  
.w3-helvetica {
font-family: helvetica;
}

h3{
color:silver ;
font-variant: small-caps;
text-shadow: 0.1rem 0.1rem 0.1rem black;
text-align: left;
}

.h3border{
margin: 2em;
}

.w3-capitalize{
font-variant:small-caps;
font-weight:bolder;
border-left: 0.8em solid white;
text-decoration: overline;
}

ul{
list-style-type: none;
}

li{
margin-top: 0.5em;
}

ul#productList{
      background-image:url('https://images.unsplash.com/photo-1518931169559-527a99b4074d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e24624500cccbb137f3a61d1f5e0b23a&auto=format&fit=crop&w=1868&q=80');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
}

.w3-list-item{
width:7em;
font-variant: small-caps;
background: black
}


.w3-t-shadow-1{
text-shadow: 0.1em -0.1em 1em white
}


/*services*/
/* .w3-center-align{
text-align: center;
} */

.w3-list-item-services{
width:20em;
font-variant: small-caps;
background: black; 
}

ul#serviceList{
       background:url('https://images.unsplash.com/photo-1453161535619-303d362ea39f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e854026d847ab62f9bab035fb70d1f90&auto=format&fit=crop&w=1050&q=80');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
}


/*contact*/
.w3-center-align{
text-align: center;  
}

.hiddenVisibility{
visibility: hidden;
}