body{
  background: black;
  font-family: Helvetica;
  }

div#slider{
  width:80%;
  margin:auto;
}

div#containerDiv{
  width:80%;
  margin:auto;
  background: linear-gradient(to right, white, grey, olive); 
}
